<html>
  <head>
    <title>Chat</title>
    <link rel="stylesheet" type="text/css" href="skin.css" />
  </head>
  <body>
<% chat.reverse.each_with_index do |i, index| %>
    <section class="chatbox">
      <div class="chatter_name"<% if index == chat.length - 1%> id="lastmsg"<% end %>><%= i[:name] %> <span class="timestamp"><%= i[:timestamp] %></span></div>
      <div class="chat_text"><%= i[:chat] %></div>
    </section>
<% end %>
  <script>
    var onBottom = false
    function takeoffFromBottom() {
      if (window.innerHeight - document.getElementById("lastmsg").getBoundingClientRect().y > -20) {
        onBottom = true
      } else {
        onBottom = false
      }
    }

    window.setTimeout((function() {
      window.location.reload(true)
      if (onBottom) { document.getElementById("lastmsg").scrollIntoView(true) }
    }), 10000 )
    document.addEventListener("scroll", function(event) { takeoffFromBottom() })
  </script>
  </body>
</html>
